{% extends 'base.html.twig' %}

{% block title %}Neymo - liste des utilisateurs{% endblock %}

{% block content %}
<div class="content-container text-center">
    <div class="container-fluid" style="padding-right:60px;padding-left:60px">
        <div class="jumbotron">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color:white">
                    <li class="breadcrumb-item"><a href="{{ path('superadmin_home') }}">Accueil</a></li>
                    <li class="breadcrumb-item">Utilisateurs</li>
                </ol>
            </nav>
    <h1>Liste des utilisateurs</h1>
    <a href="{{ path('superadmin_user_create') }}" class="btn btn-success">Créer un utilisateur</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Role</th>
                <th>Gouvernance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for governance_user_information in governance_user_informations %}
            <tr>
                <td>{{ governance_user_information.id }}</td>
                <td>{{ governance_user_information.firstName }}</td>
                <td>{{ governance_user_information.lastName }}</td>
                <td>{{ governance_user_information.role }}</td>
                <td>{{ governance_user_information.user.governance.name }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': governance_user_information.id}) }}"><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Détail"></i></a>
                    <a href="{{ path('governance_user_information_edit', {'id': governance_user_information.id}) }}"><i class="far fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    </div>
{% endblock %}
