{% extends 'base.html.twig' %}

{% block title %}GovernanceUserInformation{% endblock %}

{% block content %}
    <h1>GovernanceUserInformation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ governance_user_information.id }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ governance_user_information.firstName }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ governance_user_information.lastName }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ governance_user_information.role }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('governance_user_information_index') }}">back to list</a>

    <a href="{{ path('governance_user_information_edit', {'id': governance_user_information.id}) }}">edit</a>

    {{ include('superAdmin/governanceUserInformation/_delete_form.html.twig') }}
{% endblock %}
