{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
<h2>Créer un commerçant pour la gouvernance</h2>

{{ form_start(form) }}
<h4>Information de la société</h4>
{{ form_row(form.name, { 'label': 'Nom de la société' }) }}
{{ form_row(form.address, { 'label': 'Adresse' }) }}
{{ form_row(form.city, { 'label': 'Ville' }) }}
{{ form_row(form.zipCode, { 'label': 'Code postal' }) }}
{{ form_row(form.phoneNumber, { 'label': 'Téléphone' }) }}
{{ form_row(form.siret, { 'label': 'Siret' }) }}

<h4>Information personelle sur l'utilisateur</h4>
    {{ form_row(form.email, { 'label': 'Email' }) }}
    <label for="password">Mot de passe </label>
    <input type="password" name="password" required>
    {{ form_row(form.lastName, { 'label': 'Nom' }) }}
    {{ form_row(form.firstName, { 'label': 'Prénom' }) }}
{{ form_row(form.save, { 'label': 'Créer l\'utilisateur' }) }}
{{ form_end(form) }}
</div>
{% endblock %}