{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}

<h2>Commerçants de la gouvernance</h2>
<table class="table table-striped neymo-table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom de la société</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
   {% for company in companies %}
        <tr>
           
        <td class="td-id">{{ company.id }}</td>
        <td>{{ company.name }}</td>
     <td>
        <a href="{{ path('admin_company_show', {'id' : company.id}) }}" class="btn btn-primary">Détails</a><br>
        <a href="{{ path('admin_company_edit', {'id' : company.id}) }}" class="btn btn-warning">Modifier</a><br>
         {{ include('admin/company/_delete_form.html.twig') }}
     </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{{ path('admin_company_create') }}" class="btn btn-success btn-neymo btn-create">Créer un Commerçant</a>
</div>
{% endblock %}