{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}

<h2>Commerçants de la gouvernance</h2>
<a href="{{ path('admin_company_create') }}" class="btn btn-success">Créer un Commerçant</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom de la société</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
   {% for company in companies %}
        <tr>
           
        <td>{{ company.id }}</td>
        <td>{{ company.name }}</td>
     <td> <a href="{{ path('admin_company_show', {'id' : company.id}) }}">Détail</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}