{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<div class="d-flex flex-row justify-content-between align-items-center">
    <h2>Commerçants de la gouvernance</h2>
    <a href="{{ path('admin_company_create') }}" class="btn-neymo btn-create">Ajouter un Commerçant</a>
</div>
<table class="table table-striped neymo-table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom de la société</th>
      <th class="col"></th>
    </tr>
  </thead>
  <tbody>
   {% for company in companies %}
   <tr>
        <td class="td-id">{{ company.id }}</td>
        <td>{{ company.name }}</td>
    <td>
        <div class="d-flex flex-row justify-content-end">
            <a href="{{ path('admin_company_show', {'id' : company.id}) }}" class="details">Détails</a><br>
            <a href="{{ path('admin_company_edit', {'id' : company.id}) }}" class=""><img src="{{ asset('/build/edit.svg') }}" alt=""></a><br>
            {{ include('admin/company/_delete_form.html.twig') }}
        </div>
     </td>
   </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}