{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <h2>Détails : {{company.name}}</h2>
    {{ include('admin/company/_delete_form.html.twig') }}
  </div>
  <h3>Informations de la société</h3>
  <label>Nom</label>
  <p>{{company.name}}</p>
  <label>Adresse</label>
  <p>{{company.address}}, {{company.city}}, {{company.zipCode}}</p>
  <label>Téléphone</label>
  <p>{{company.phoneNumber}}</p>
  <label>Numéro Siret</label>
  <p>{{company.siret}}</p>
  <br>
  <h3>Informations personelles du responsable</h3>
  <label>Nom</label>
  <p>{{company.lastName}}</p>
  <label>Prénom</label>
  <p>{{company.firstName}}</p>
  <div class="d-flex flex-row">
    <a href="{{ path('admin_company_edit', {'id' : company.id}) }}" class="btn btn-warning btn-create btn-neymo">Modifier</a><br>
  </div>
</div>
{% endblock %}