{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}
<div class="d-flex flex-row justify-content-between align-items-center">
    <h2>Administrateurs de la gouvernance</h2>
    <a href="{{ path('admin_users_create') }}" class="btn-neymo btn-create">Ajouter un Administrateur</a>
</div>

    <table class="table table-striped neymo-table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
      <th scope="col">Rôle</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   {% for userAdmin in governanceUserInformation %}
        <tr>
        <td class="td-id">{{ userAdmin.id }}</td>
        <td>{{ userAdmin.firstName }}</td>
        <td>{{ userAdmin.lastName }}</td>
        <td>{{ userAdmin.role }}</td>
        <td>{{ include('admin/governanceUsers/_delete_form.html.twig') }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock %}