{% extends 'base.html.twig' %}

{% block content %}
  <div class="container">
<div class="card">
  <div class="card-header">

<h2>Dashboard de la Gourvernance de {{ user.governance.name }}</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">Bonjour {{ user.firstName }},</h5>
    <p class="card-text">Monnaie locale : {{ user.governance.moneyName }}</p>
  En attente de validation (Commerçants):  <strong>{{ companiesNotValidated|length }}</strong>
    <br>
    En attente de validation (Particuliers): <strong>{{ particularsNotValidated|length }}</strong>
    <br>
    Nombre d'adhérents Particuliers : <strong>{{ particulars|length }}</strong>
    <br>
    Nombre d'adhérents Commerçants : <strong>{{ companies|length }}</strong>
    <br>
    Nombre d'adhérents Total : <strong>{{ companies|length + particulars|length }}</strong>
    <br>
    Somme totale de monnaie utilisée par les Commerçants : <strong>{{totalMoneyCompany}}</strong>
    <br>
    Somme totale de monnaie utilisée par les Particuliers : <strong>{{totalMoneyParticular}}</strong>
    <br>
    Somme totale qui circule dans la Gouvernance : <strong>{{totalMoneyParticular + totalMoneyCompany}}</strong>
    </div>
  </div>
</div>
{% endblock %}

