<h1>Liste des gouvernances</h1>
    <a href="{{ path('governance_create') }}" class="btn btn-success">Créer une gouvernance</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom de la gouvernance</th>
                <th>Nom de la monnaie</th>
                <th>Informations</th>
            </tr>
        </thead>
        <tbody>
            {% for governance in governances %}
                <tr>
                    <td>{{ governance.id }}</td>
                    <td>{{ governance.name }}</td>
                    <td>{{ governance.moneyName }}</td>
                    <td>
                    <a href="{{ path('governance_show', {'id': governance.id}) }}">
                    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Détail"></i>
                    </a>   
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>