{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}
<h2>Particuliers de la gouvernance</h2>
<table class="table table-striped neymo-table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
   {% for particular in particulars %}
        <tr>
        <td class="td-id">{{ particular.id }}</td>
        <td>{{ particular.firstName }}</td>
        <td>{{ particular.lastName }}</td>
        <td>
            <a href="{{ path('admin_particular_edit', {'id' : particular.id}) }}" class="btn btn-warning">Modifier</a><br>
            {{ include('admin/particular/_delete_form.html.twig') }}
        </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{{ path('admin_particular_create') }}" class="btn btn-success btn-neymo btn-create">Créer un Particulier</a>
</div>
{% endblock %}