{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}
    <div class="d-flex flex-row justify-content-between align-items-center">
        <h2>Particuliers de la gouvernance</h2>
        <a href="{{ path('admin_particular_create') }}" class="btn-neymo btn-create">Ajouter un Particulier</a>
    </div>
<table class="table table-striped neymo-table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   {% for particular in particulars %}
        <tr>
            <td class="td-id">{{ particular.id }}</td>
            <td>{{ particular.firstName }}</td>
            <td>{{ particular.lastName }}</td>
            <td>
                <div class="d-flex flex-row justify-content-end">
                    <a href="{{ path('admin_particular_edit', {'id' : particular.id}) }}" class=""><img src="{{ asset('/build/edit.svg') }}" alt=""></a><br>
                </div>
            </td>
            <td>
        </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}